.home-div{
    height: 100vh;
    position: relative;
}

.home-container{
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}