.sidebar-div{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: auto;
    position: sticky;
}

.sidebar-wrap{
    padding: 20px; 
}

.sidbar-list-items{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-list-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-icon{
    margin-right: 15px;
}

.side-bar-button{
    border: none;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.side-bar-hr{
    margin: 20px 0px;
}

.side-bar-friendlist{
    padding: 0;
    margin: 0;
    list-style: none;
}

.side-bar-friend{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.siderbar-friend-img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}